.section-be-part-of-us {
    background-color: $color-blue-300;
    color: $color-white;
    position: relative;

    @include for-tablet-landscape-up {
        height: 40rem;
    }

    &::before {
        @extend %pseudo;
        width: 100%;
        @include position(absolute, top, -1.2rem, left, unset, 1);
        height: 1.2rem;
        background-color: $color-blue-200;
    }

    &__wrapper {
        @include for-tablet-landscape-up {
            text-align: center;
            display: grid;
            grid-template-rows: 40% 10% 1fr;
            width: 70%;
            margin: 0 auto;
        }
    }

    &__title {
        @include for-tablet-landscape-up {
            font-size: 3.6rem;
            line-height: 4.4rem;
        }
    }

    &__description {
        @include for-tablet-landscape-up {
            margin: 0;
        }
    }

    &__form-wrapper {
        @include for-tablet-landscape-up {
            display: grid;
            grid-template-columns: 80% 15%;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__form {
        margin: 4.8rem 0 4.6rem;
        @include for-tablet-landscape-up {
            @include display-flex (space-between, center, unset);
            flex-basis: 75%;
        }
    }

    &__input {
        margin: 1.8rem 0;
        color: $color-white;
        border: 0.1rem solid $color-white;
        background-color: transparent;

        @include for-tablet-landscape-up {
            flex-basis: 30%;
        }

        &:focus {
            outline: none;
            border-color: $color-grey-700;
        }
    }

    &__btn {
        margin-bottom: 5.2rem;
        padding-left: unset;
        padding-right: unset;
        width: 100%;

        @include for-tablet-landscape-up {
            margin-bottom: 0;
            flex-basis: 10%;
            padding: 1.4rem 3.2rem;
        }
    }
}