.section-resume {
    @include for-tablet-landscape-up {
        display: grid;
        grid-template-columns: 60% 35%;
        justify-content: space-between;
    }

    &__media {
        position: relative;

        &:hover {
            cursor: url("../../../images/Cursor.svg"), auto;

            @include for-desktop-up {
                .section-resume__video-button {
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
        }
    }

    &__video-button {
        @extend %center-both-absolute;
        height: 30%;
        transition: transform 0.5s;
    }
}