.section-certificate {
    display: none;
    margin-bottom: 10rem;

    @include for-tablet-landscape-up {
        display: grid;
        grid-template-columns: 50% 15% 30% 1fr;
        align-items: center;
    }

    &__body {
        @include display-flex (unset, unset, unset);
    }

    &__icon-wrapper {
        align-self: start;
        margin-right: 1.8rem;

        @include for-desktop-up {   
            &:hover {
                animation: animated-icon 0.7s ease-in-out;
            }
        }
    }

    &__icon {    
        width: 3.2rem;
        height: 3.2rem;
    }

    &__title {
        margin: 0;
    }

    &__media {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    &__media-content {
        @include display-flex (center, center, unset);
        height: 20rem;
        width: 100%;

        background: $color-grey-300;
        
        box-shadow: $shadow-1dp;
        border-radius: 1.2rem;
    }
}