.btn {
    border: none;
    border-radius: 10rem;
    text-transform: uppercase;
    font-weight: 600;

    &--primary {
        box-shadow: $shadow-4dp-button;
        color: $color-white;
        background-color: $color-orange-800;

        &-outline {
            border: 0.1rem solid $color-orange-800;
            color: $color-orange-800;
            background-color: $color-white;
        }

        &:hover {  
            animation: hover-button 0.2s forwards ease-in;
        }
    }

    &--small {
        padding: 1rem 2.2rem;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    &--large {
        padding: 1.4rem 12.9rem;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    &--extra-large {
        padding: 1.6rem 9.4rem;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    &:hover {
        cursor: url("../../images/Cursor.svg"), auto;
    }
}