.section-resume {
    @include for-tablet-landscape-up {
        display: flex;
        justify-content: space-between;
    }

    &__content-wrapper {

        @include for-tablet-landscape-up {
            flex-basis: 60%;
        }
    }

    &__media {
        position: relative;

        &:hover {
            cursor: url("../../../images/Cursor.svg"), auto;
        }

        @include for-tablet-landscape-up {
            flex-basis: 35%;
        }
    }

    &__video-button {
        @extend %center-both-absolute;
        height: 30%;
    }
}