.section-contact-us {
    margin: 3.2rem 0;

    @include for-desktop-up {
        margin-top: -25rem;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        color: $color-green-300;
        text-align: center;
    }

    &__form {
        @include for-desktop-up {
            @include display-flex (space-between, unset, row wrap);
        }
    }

    &__input {
        border: 1px solid $color-grey-500;
        margin-bottom: 2.4rem;

        @include for-desktop-up {
            flex-basis: 48%;
        }

        &--big {
            height: 10rem;

            @include for-desktop-up {
                height: 20rem;
                flex-basis: 100%;
            }
        }

        &:focus {
            outline-color: $color-orange-800;
        }
    }

    &__btn {
        @include position(relative, top, unset, left, 50%, 1);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 1.4rem 3.2rem;

        @include for-desktop-up {
            left: 0;
            transform: none;
            margin-bottom: 9.6rem;
        }
    }
}