.section-program__wrapper {
    @include for-tablet-landscape-up {
        @include display-flex (unset, unset, unset);
    }
}

.section-program {
    background-color: $color-orange-500;
    position: relative;

    @include for-tablet-landscape-up {
        flex-basis: 55%;
    }

    &__header {
        @include display-flex (unset, unset, unset);
        margin-bottom: 2.4rem;
    }

    &__media {
        align-self: flex-start;
        margin-right: 1.6rem;

        @include for-desktop-up {   
            &:hover {
                animation: animated-icon 0.7s ease-in-out;
            }
        }
    }

    &__form-title {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.2rem;
    }

    &__input-wrapper {
        position: relative;
        margin-bottom: 1.6rem;

        &--big-at-phone {
            @include for-phone-only {
                textarea {
                    height: 8rem;
                }
            }
        }

        &::after {
            @extend %center-Y-absolute;
            content: url(../../../images/main/Input-arrow-down.svg);
            display: block;
            width: 3.2rem;
            height: 3.2rem;
            z-index: 2;
            right: 4%;
        }
    }

    &--aside {
        display: none;

        @include for-tablet-landscape-up {
            flex-basis: 30%;
            display: block;
        }

        @include for-desktop-up {
            margin-left: 9rem;
            align-self: flex-end;
            padding-bottom: 4rem;
        }
    }

    .section-program__dots {
        display: flex;
    
        &--top {
            margin-top: -0.5rem;
        }

        &--bottom {
            margin-bottom: -0.5rem;
        }

        .dot {
            width: 1rem;
            height: 1rem;
            background-color: $color-white;
            border-radius: 50%;
            margin: 0 0.4rem;

            @include for-phone-only {
                &:nth-child(n + 24) {
                    display: none;
                }
            } 

            @include for-tablet-portrait-up {
                &:nth-child(2n + 3) {
                    display: none;
                }
            }

            @include for-tablet-landscape-up {
                &:nth-child(n) {
                    display: block;
                }
                &:nth-child(2n + 9) {
                    display: none;
                }
            }

            @include for-desktop-up {
                &:nth-child(n) {
                    display: block;
                }
            }

            @include for-big-desktop-up {
                &:nth-child(n) {
                    display: block;
                }
            }
        }
    }
}