.section-messages {
    margin-bottom: 9rem;
    @include for-tablet-landscape-up {
        display: flex;
        justify-content: space-between;
    }

    .dots {
        @include for-tablet-landscape-up {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 !important;

            .dot:nth-child(2n) {
                display: none;
            }
        }

        @include for-phone-only {

            .dot:nth-child(2n) {
                display: none;
            }
        }

        &--fewer { 
            @include for-tablet-landscape-up {
                .dot:nth-child(n) {
                    display: block;
                }

                .dot:nth-child(n + 10) {
                    display: none;
                }
            }
        }
    }
}

.message {

    &__header {
        display: flex;
        margin-bottom: 1.6rem;

        &--phone {
            @include for-tablet-landscape-up {
                display: none;
            }
        }

        &--laptop {
            display: none;

            @include for-tablet-landscape-up {
                display: flex;
            }
        }
    }

    &__media {
        margin-right: 1.8rem;
        width: 3.2rem;
        height: 3.2rem;

        & img {
            width: 3.2rem;
        }
    }

    &__description {
        @include for-tablet-landscape-up {
            padding-left: 5rem;
        }
    }

    &__link {
        text-decoration: underline;

        &--orange {
            color: $color-orange-800;
        }
    }

    @include for-tablet-landscape-up {
        flex-basis: 45%;
    }
}