.section-certificate {
    display: none;
    margin-bottom: 10rem;

    @include for-tablet-landscape-up {
        @include display-flex (unset, center, unset);
    }

    &__body {
        @include display-flex (unset, unset, unset);
        flex-basis: 50%;
    }

    &__icon-wrapper {
        align-self: start;
        margin-right: 1.8rem;

        @include for-desktop-up {   
            &:hover {
                animation: animated-icon 0.7s ease-in-out;
            }
        }
    }

    &__icon {    
        width: 3.2rem;
        height: 3.2rem;
    }

    &__title {
        margin: 0;
    }

    &__media {
        flex-basis: 50%;
        
        @include display-flex (center, unset, unset);
    }

    &__media-content {
        @include display-flex (center, center, unset);
        width: 50%;
        height: 20rem;

        background: $color-grey-300;
        
        box-shadow: $shadow-1dp;
        border-radius: 1.2rem;
    }
}