.section-resume {

    
    &__content {
        color: $color-grey-700;
    }

    &__media {
        position: relative;

        &:hover {
            cursor: url("../../../images/Cursor.svg"), auto;
        }

    }

    &__video-button {
        @extend %center-both-absolute;
        height: 30%;
    }
}