.message {

    &__header {
        display: flex;
        margin-bottom: 1.6rem;
    }

    &__media {
        margin-right: 1.8rem;
        width: 3.2rem;
        height: 3.2rem;

        & img {
            width: 3.2rem;
        }
    }

    &__link {
        text-decoration: underline;

        &--orange {
            color: $color-orange-800;
        }
    }
}