.footer {
    background-color: $color-grey-700;
    color: $color-white;

    &::before {
        @extend %pseudo;
        grid-column-start: 1;
        grid-column-end: 4;
        top: 0;
        width: 100%;
        height: 1.2rem;
        background-color: $color-grey-500;
    }

    .list-icon {
        display: flex;
        
        .fab {
            font-size: 2.8rem;
        }

        .fa-instagram {
            margin-left: 3rem;
        }
    }
}