.main {
    
    &--home {
        grid-template-rows: auto auto auto auto auto;
    }
    
    &--trainers {
        display: grid;
        grid-template-rows: auto auto auto auto;
    }

    &--contact {
        grid-template-rows: auto auto auto auto;
        overflow: hidden;

        @include for-desktop-up {
            grid-template-rows: auto auto auto;
        }
    }
}