.section-resume {
    @include for-tablet-landscape-up {
        @include display-flex (space-between, unset, unset);
    }

    &__content-wrapper {

        @include for-tablet-landscape-up {
            flex-basis: 60%;
        }
    }

    &__media {
        position: relative;

        &:hover {
            cursor: url("../../../images/Cursor.svg"), auto;

            @include for-desktop-up {
                .section-resume__video-button {
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
        }

        @include for-tablet-landscape-up {
            flex-basis: 35%;
        }
    }

    &__video-button {
        @extend %center-both-absolute;
        height: 30%;
        transition: transform 0.5s;
    }
}