.information-section__wrapper {
    margin-bottom: 2.4rem;

    @include for-tablet-portrait-up {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include for-desktop-up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0 !important;
        flex-grow: 1;
        
        grid-column-start: 6;
        grid-column-end: 7;
    }
}

.information-section {
    @extend %center-Y-flex;

    &__media {
        margin-right: 2.4rem;
    }  
    
    &__body {
        flex-grow: 1;
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    &__description {
        color: $color-orange-800;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    &__line {
        background-color: $color-grey-100;
        width: 2.4rem;
        height: 0.2rem;
        margin: 2.4rem 0;

        @include for-tablet-portrait-up {
            transform: rotate(90deg);
            margin: 3.2rem 0;
        }
    }
}