.instruction {
    transition: transform 0.7s ease;

    @include for-desktop-up {   
        &:hover {
            transform: scale(1.1);
        }
    }

    @include for-desktop-up {
        flex-basis: 30%;
    }

    &-wrapper {
    
        @include for-desktop-up {
            @include display-flex (space-between, unset, unset);
        }
    }

    &__title {
        color: $color-green-300;
        text-align: center;
    
        @include for-desktop-up {
            text-align: start;
        }
    }
}