$shadow-1dp: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.12), 0 0 0.2rem rgba(0, 0, 0, 0.14);
$shadow-2dp: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2), 0 0.3rem 0.4rem rgba(0, 0, 0, 0.12), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.14);

$shadow-4dp-button: 0 0.1rem 1rem rgba(0, 0, 0, 0.2), 0 0.4rem 0.5rem rgba(0, 0, 0, 0.12), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.14);