@keyframes hover-button {
    from {
        box-shadow: $shadow-2dp;
    }

    to {
        box-shadow: none;
    }
}

@keyframes animated-icon {
    50% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0);
    }
}