$color-black: #000000;
$color-white: #FFFFFF;

$main-background-color: #E5E5E5;

$color-grey-100: #F1F1F1;
$color-grey-700: #565656;

$color-orange-100: #FFECB3;
$color-orange-500: #FFC20A;
$color-orange-800: #FF9100;
$color-orange-900: #FF7100;

$color-blue-400: #44A9F8;