.margin {

    &__zero {
        margin: 0 !important;

        &--top {
            margin-top: 0 !important;
        }

        &--bottom {
            margin-bottom: 0 !important;
        }

        &--left {
            margin-left: 0 !important;
        }

        &--right {
            margin-right: 0 !important;
        }
    }

    &--top {
        margin-top: 2.4rem !important;

        &-medium {
            margin-top: 3.2rem !important;
        }

        &-large {
            margin-top: 6.4rem !important;
        }
    }

    &--bottom {
        margin-bottom: 2.4rem !important;

        &-medium {
            margin-bottom: 3.2rem !important;
        }

        &-large {
            margin-bottom: 6.4rem !important;
        }
    }

    &--left {
        margin-left: 2.4rem !important;

        &-medium {
            margin-left: 3.2rem !important;
        }

        &-large {
            margin-top: 6.4rem !important;
        }
    }

    &--right {
        margin-right: 2.4rem !important;

        &-medium {
            margin-right: 3.2rem !important;
        }

        &-large {
            margin-right: 6.4rem !important;
        }
    }
}