.centered {

    &--text {
        text-align: center !important;
    }

    &--half-width {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
    }

    &--flex {
        justify-content: space-between !important;
        align-items: center !important;
    }
}