.margin {

    &__zero {
        margin: 0;

        &--bottom {
            margin-bottom: 0;
        }
    }

    &--top {


        &-large {
            margin-top: 6.4rem !important;
        }
    }

    &--left {
        margin-left: 2.4rem !important;
    }

    &--bottom {
        margin-bottom: 2.4rem !important;

        &-large {
            margin-bottom: 6.4rem !important;
        }
    }
}