.section-contact-us {
    margin: 3.2rem 0;

    @include for-desktop-up {
        display: grid;
        grid-template-rows: 16% 1fr 15%;

        width: 70%;
        margin: 18rem auto 9.2rem;
    }

    &__title {
        color: $color-green-300;
        text-align: center;
    }

    &__form {
        @include for-desktop-up {
            display: grid;
            grid-template-columns: 48% 48%;
            grid-template-rows: 25% 75%;
            justify-content: space-between;
        }
    }

    &__input {
        border: 1px solid $color-grey-500;
        margin-bottom: 2.4rem;

        &--big {
            margin-bottom: 0;
            @include for-desktop-up {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        &:focus {
            outline-color: $color-orange-800;
        }
    }

    &__btn {
        @include position(relative, top, unset, left, unset, 1);
        padding: 1.4rem 3.2rem;
        margin-top: 2rem;
        width: 100%;

        @include for-desktop-up {
            width: min-content;
            transform: none;
        }
    }
}