input, textarea {
    border-radius: 0.6rem;
    border: none;
    padding: 1.4rem 5.6rem 1.6rem 1.4rem;
    width: 100%;
    position: relative;
}

textarea {
    padding-left: 2.9rem;
    text-indent: -1.6rem;
    resize: none;
}