.main-container {
    color: $color-grey-700;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.container {
    &--flex {
        @include display-flex (unset, unset, unset);
    }

    &--grid {
        display: grid;
        grid-template-columns: 5% 90% 5%;

        &-full-size {
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    &--main-layout {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}