.main-container {
    color: $color-grey-700;
}

.container {


    &--flex {
        @include display-flex (unset, unset, unset);
    }

    &--grid {
        display: grid;
        grid-template-columns: 5% 90% 5%;

        @include for-tablet-landscape-up {
            grid-template-columns: 7.5rem 1fr 7.5rem;
        }

        &-full-size {
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    &--main-layout {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}